backend/venv/
.venv
.idea
__pycache__/
*.pyc
backend/.env
backend/media/
node_modules
frontend/node_modules/
frontend/dist/
node_modules
.DS_Store
Thumbs.db
backend/http-client.private.env.json
backend/professor.http
.idea/
.vscode/
frontend/.vite
frontend/playwright-report/
frontend/test-results
.venv/
venv/
source/